<%= form_with method: :get do |form| %>
    <%= form.text_field 'address', value: @address, placeholder: "Address" %>
    <%= form.submit %>
    <%if @error%>
        <div id="error"><%=@error.message%></div>
    <%end%>
<%end%>


<%if @resolved_address%>
<div id="resolved_address">Resolved Address: <%=@resolved_address%></div>
<%end%>
<%if @temp%>
<div id="temp">Currently: <%=@temp%> degrees</div>
<%end%>
<%unless @fresh_cache%>
<div id ="cache_status">Cached</div>
<%end%>